body {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mark_x { background-color: #383838; }
.mark_y { background-color: orange; }
.mark_g { background-color: green; }
.mark_ { background-color: grey; }
.wc-field-group {  min-width: 50px;  max-width: 50px;  width: 50px; padding: 2px;};
.wc-body-desktop {min-width: 500px; }

.wc-game {
    width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.wc-board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.wc-game-row {
    margin-bottom: 10px;
}
#wc-board {
    display: grid;
    grid-gap: 0;
    padding: 0;
    box-sizing: border-box;
}
.wc-grid {
    width: 350px;
    height: 420px;
}
.wc-input {
    margin: 0 auto;
    color: white;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
    text-align: center;
}
.wc-row {
    display: flex;
    justify-content: center;
    margin: 0;
}
